@import url('https://fonts.googleapis.com/css?family=Fasthand');
@import url('https://fonts.googleapis.com/css?family=Changa+One&effect=outline');

:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
#carousels {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
.movieCarousel {
  grid-column: 1/2;
  width: 300px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0,0,0,0.8);
}
.numberText {
  color: red;
  font-weight: bold;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.showCarousel {
  grid-column: 2/3;
  width: 300px;
  position: relative;
  margin: auto;
}
.mySlidesShow {
  display: none;
}
.prevShow,
.nextShow {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.nextShow {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prevShow:hover,
.nextShow:hover {
  background-color: rgba(0,0,0,0.8);
}
.numberTextShow {
  color: red;
  font-weight: bold;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dotShow {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.activeShow,
.dotShow:hover {
  background-color: #717171;
}
.fadeShow {
  animation-name: fadeShow;
  animation-duration: 1.5s;
}
@keyframes fadeShow {
  from {opacity: .4}
  to {opacity: 1}
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: lightgray;
}
main {
  background-color: #FFFFE0;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  height: 80px;
  width: auto;
  padding-top: 1em;
  position: relative;
  text-align: center;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
  padding: 1em;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.hero img {
  margin-left: 150px;
}
ul li{
  display: inline;
  font-size: 75px;
  padding: 15px;
  font-family: "Fasthand";
  position: relative;
}
ul li a{
  text-decoration: none;
  color: #FFFFE0;
}
ul li a:visited{
  color: #FFFFE0;
}
ul li a:hover{
  color: #FFFF00;
}
ul {
  position: sticky;
  top: 0px;
  padding: 10px 0px;
  text-align: center;
  background-color: red;
}
h1, h2, h3, h4, .rating {
  text-align: center;
}
#bannerImg {
  width: auto;
  margin-left: 0px;
}
.bannerImg {
  text-align: center;
}
table, th, td {
  border: 1px solid;
}
table tr {
  text-align: center;
}
table tr td, table tr th {
  font-size: xx-large;
}
table tr td {
  padding: 5px;
}
table tr td:first-child {
  font-family: "Fasthand";
}
table tr td:nth-child(2) {
  font-family: "Changa One";
}
table tr td:nth-child(2) a{
  background-color: #FFFF00;
  padding: 15px;
  border-radius: 25px;
}
table tr td a {
  text-decoration: none;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: red;
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 15px solid yellow;
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart img {
  width: 75px;
}
.cart:hover img {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}
#error {
  padding: 15px;
}
.card__name {
  font-size: 1em;
  padding: 15px;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  text-align: center;
}
.cart-card img {
  width: 100px;
}

#resultMessage { 
  color: red;
  padding: 15px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
  background-color: lightgray;
}

.siteTitle {
  margin: auto;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border: red 15px solid;
  background-color: yellow;
  margin-right: 375px;
}
